<div class="container p-4" >
  <div class="mt-2 mb-5 text-center">
    <a class="btn-primary button" href="/add">Agregar nuevo plan</a>
  </div>
  <div class="row">
    <div class="col-md-3 mt-4" *ngFor="let plan of planes">
      <div class="card text-center">
        <div class="card-body">
          <a class="btn-primary py-2 px-3 text-decoration-none" routerLink="" (click)="viewPlan()">
            <h3 class="card-title">{{plan.Nombre}}</h3>
          </a>
          <p class="m-2">{{plan.Descripcion}}</p>
          <p>{{plan.Precio}}</p>
          <a class="btn btn-danger mx-3" href="/plan" (click)="deletePlan(plan.IDPlan)">Eliminar plan</a>
          <a class="btn btn-secondary" [routerLink]="['/edit', plan.IDPlan]">Editar</a>
        </div>
      </div>
    </div>
  </div>
</div>
