<div class="container p-4" *ngFor="let plan of planes">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <a href="">
            <h3 class="card-title">{{plan.Nombre}}</h3>
          </a>
          <p class="m-2">{{plan.Descripcion}}</p>
          <p>{{plan.Precio}}</p>
          <button class="btn btn-danger" (click)="deletePlan(plan.IDPlan)">Eliminar plan</button>
          <button class="btn btn-secondary">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
